<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>WI4OU2CJYQ51DZ11T5TARJDD2AODQQLFUR3G3KOATNN5V5OM</string>
	<key>CLIENT_SECRET</key>
	<string>DTEDL0TYTUJE24ATQTXXQEHKXGNY5YXE3Z4RDSETYENSV1W3</string>
</dict>
</plist>
